body {
    font-family: "Lato", sans-serif;
    text-align: center;
    background: url(background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

#myProgress {
  border-radius: 5px;
  border: 2px
  width: 100%;
  background-color: #ddd;
  margin-left: auto; 
  margin-right:auto;


}

#myBar {
  border-radius: 5px;
  border: 1px ;
  padding: 2px;
  width: 1%;
  height: 30px;
  background-color: #ff80bf;
}

.glow {
  font-size: 40px;
  color: #fff;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
     text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}

/* input box "what did your crush say" */
#subject{
    border-radius: 25px;
    border: 2px solid #ff80bf;
    padding: 20px; 
    height: 300px ;
    width: 60%;
}

/* Calculate box*/
#Calculate {
    font-size: 20px;
    text-align: center;  
    border-radius: 25px;
    border: 2px solid #73AD21;
    padding: 20px; 
    width: 30%;
    height: 15%;
    margin-bottom: 10em;      
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-pinterest {
  background: #cb2027;
  color: white;
}

.fa-snapchat-ghost {
  background: #fffc00;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.fa-reddit {
  background: #ff5700;
  color: white;
}


/* Insuring that the menu is at top*/
#top_page{
  font-size:30px;
  cursor:pointer; 
  position: absolute; top: 0; left: 0;"}

